{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<body style="background-color:skyblue" >
    <div class="label">
            <h1> TODO App...</h1>

            <form action="/task" method="post">
                <p><input type="text" name="content"></p> 
                <input type="submit" value="Add task"class="btn btn-primary">
            </form>
            <br>
            <br>
            <ol>
                {% for task in tasks %}
                    <li>
                        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
                        <br>
                        <br>
                        <a href="/done/{{ task.id }}" class="btn btn-success">Done</a>
                        
                        <a href="/delete/{{ task.id }}"  class="btn btn-danger">Delete</a>
                       
                    </li>
                {% endfor %}
            </ol>
        </div>
      
</body>
{% endblock %}

style="font-size: 30pt">

