#welcome {
  text-align: center;
}
#posts{
  background-color: #AD2831;
  color: black;
}
body{
  background-color: #F3EEC3;
  color: #040F0F;
}
.heading {
  font-size:100px;
}
.indexImages {
  height: 200px;
  width: 200px;
  border: 1px solid #040F0F ;
}


