{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>Jipange</title>
    {% endif %}
  </head>
  <body>      
    <!-- Styles block -->
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <div class="container">      
      <div id="welcome">
        <br>             
        <h1 id="heading" class="heading" >JIPANGE !<br></h1>
        <p><i>WHAT WOULD YOU LIKE TO DO TODAY</i></p>
        <br><br><br>               
        <div class="row">
          <div class="col-md-4">
            <h1>Diary</h1>
            <a href="/diary">
            <img class="indexImages" src="{{url_for('static',filename='photos/emailIcon.png')}}" alt="diary">
            </a>
          </div>
          <div class="col-md-4">
            <h1>Shopping List</h1>
            <a href="/shopping">
            <img class="indexImages" src="{{url_for('static',filename='photos/phoneIcon.png')}}" alt="shopping list">
            </a>
          </div>
          <div class="col-md-4">
            <h1>To-do-list</h1>
            <a href="/todolist">
            <img class="indexImages" src="{{url_for('static',filename='photos/phoneIcon.png')}}" alt="To-do-list">
            </a>
          </div>
          <br>
        </div>
      </div>    
    </div>
    {% endblock %}
    
  </body>
</html>